# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
.env/

# Environment variables
.env

# Django
db.sqlite3
media/

# Static files collected in production
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log